.mly-wrapper {
  position: relative;
  background-color: grey;
  width: 640px;
  height: 480px;
}
.mapillary-viewer {
  position: relative;
  height: 100%;
  width: 100%;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}
