<h2 id="title">Mapillary for Ember</h2>
<p>Examples: {{#link-to "simple"}}Simple{{/link-to}}
 | {{#link-to "map-one-way"}}Map (One Way){{/link-to}}
 | {{#link-to "map-two-way"}}Map (Two Way){{/link-to}}</p>
{{outlet}}
