<h2 id="title">Mapillary for Ember (ember-cli-mapillary)</h2>
<p>Examples: {{#link-to "simple"}}Simple{{/link-to}}
 | {{#link-to "map-one-way"}}Map (One Way){{/link-to}}
 | {{#link-to "map-two-way"}}Map (Two Way){{/link-to}}
 | {{#link-to "move-to-key"}}Move to Key (ID){{/link-to}}</p>
{{outlet}}
<p>
  Resources: <a href="https://github.com/esridc/ember-cli-mapillary">GitHub</a>
    <a href="https://mapillary.github.io/mapillary-js/">MapillaryJS</a>
</p>
