<h3>Simple</h3>
<p>Click on the viewer to begin navigating through the area.</p>
<div class="mly-wrapper">
  {{!-- NOTE: clientId is defined in config/environment.js --}}
  {{mapillary-viewer clientId=clientId key="ytfE1_iD_N-jmHfTHkj1Ug" }}
</div>
